#idea
/.idea/
*.iml

#npm
/node_modules/
/yarn-error.log
/package-lock.json
build
.key
.dev-keys.json
.secret

#coverage
/coverage.json
/coverage/
/.coverage_artifacts/
/.coverage_contracts/

#contract
/artifacts/
/cache/
/vy/build/

